/LoginRegister/build/
/LoginRegister/dist/
/LoginRegister/nbproject/private/
/E-Marketing_System/build/
/E-Marketing_System/dist/
/E-Marketing_System/LoginRegister/build/
/E-Marketing_System/LoginRegister/dist/
/FarmerMarketSystem/nbproject/private/
/FarmerMarketSystem/build/
/FarmerMarketSystem/dist/
/e-market/nbproject/private/
/e-market/build/
